section.car_detail { position: relative; }
/*车辆详情头部*/
header.car_detail_head { position: absolute; z-index: 3; top: 0.1562rem;
		 padding: 0 0.4688rem; }
header.car_detail_head>a { display: block; width: 1rem; height: 1rem;
	background-color: rgba(0,0,0,.4); color: #fff; text-align: center;
	font-size: .9rem; border-radius: 50%;  }
div.car_d_img_con { position: relative; overflow: hidden; background-color: #fff;  }
li._img_slide_item img { width: 100%; }
section.car_detail_info { margin-bottom: 1rem; }
/*图片数量*/
div.car_detail_counts { width: auto; left: 0.4688rem; font-size: 0.375rem;
	display: flex; display: -webkit-flex; align-items: center; text-align: center; }
div.car_detail_counts, div.car_id { position: absolute; bottom: 0.4688rem;
 	padding: 0.04rem 0.18rem; color: #fff; z-index: 4;
    background-color: rgba(0,0,0,.4); line-height: 0.5rem; }

span._img_count_bg { display: inline-block; width: 0.3438rem; height: 0.3438rem;
	background: url(../images/base/_img_count.png) no-repeat;
	background-size: 100%; margin-right: 0.1562rem; }
div.car_id {  right: 0.4688rem; font-size: 0.375rem; }
/*标题*/
div.car_detail_tit { padding: 0.1562rem 0.4688rem 0.22rem 0.4688rem;
	margin-bottom: 0.1562rem; background-color: #fff; }
div.car_detail_tit>h1 { display: -webkit-box; -webkit-line-clamp: 2; overflow: hidden;
    -webkit-box-orient: vertical; line-height: .75rem; font-size: 20px;
    text-overflow: ellipsis; white-space: normal; color: #495056;  }
 [data-dpr="2"] div.car_detail_tit>h1 { font-size: 34px; }
 [data-dpr="3"] div.car_detail_tit>h1 { font-size: 60px; }
div.car_show_price { display: flex; display: -webkit-flex;
    color: #999; align-items: center; font-size: 0.375rem;
    margin-top: 0.15rem; line-height: 0.6562rem; }
 div.car_show_price>strong { font-size: 0.5rem; font-weight: 500;
     color: #d10310; margin-right: 0.8688rem; }
div.car_show_price>i.l_price { margin-left: 1.5rem; padding: 0 0.0625rem;
 	background-color: #26b829; color: #fff; line-height: 0.5rem; }
/*基础信息模块*/
div.car_d_info_kind { padding: 0.4688rem; margin-top: 0.2344rem;
	 background-color: #fff; }
.caption { padding-left: 0.1562rem; border-left: 0.0625rem solid #f4320b;
  line-height: 14px; font-size: 14px; color: #495056; }
[data-dpr="2"] .caption { font-size: 28px; line-height: 28px; }
[data-dpr="3"] .caption { font-size: 42px; line-height: 42px; }

div.caption_line { margin-top: 0.3125rem; border-bottom: 1px solid #d1d1d1; }
ul._info_kind_list { overflow: hidden; padding-top: 0.4rem;  }
div.car_d_info_kind ul>li._info_list_item { float: left; text-align: center; }
ul._info_base_list>li { width: 33.333%; margin-bottom: 0.35rem; }
ul._info_base_list>li>._info_tit { margin-bottom: 0.09rem; font-size: 12px; color: #585858  }
[data-dpr="2"] ul._info_base_list>li>._info_tit { font-size: 24px; }
[data-dpr="3"] ul._info_base_list>li>._info_tit { font-size: 39px; }
li._info_base_item>._info_text { font-size: 14px; color: #1B1B1B; }
[data-dpr="2"] ul._info_base_list>li>._info_text { font-size: 28px; }
[data-dpr="3"] ul._info_base_list>li>._info_text { font-size: 48px; }
div._info_base_more { margin-top: 0.2rem; }
div._info_base_more>a { display: block; width: 3.8rem; margin: 0 auto;
	border: 1px solid #999; color: #585858; line-height: .9rem; text-align: center;
	border-radius: 0.0781rem; font-size: 0.375rem; }
/*购车流程*/
ul._info_buyCar_list>li { width: 25%; }
div._info_buyCar_bg { margin: 0 auto; width: 1.0312rem; height: 1.0312rem;
		background-size: 100%; }
div._info_buyCar_bg._info_tell { background-image: url(../images/base/bddh.png); }
div._info_buyCar_bg._info_sell { background-image: url(../images/base/xckc.png); }
div._info_buyCar_bg._info_get { background-image: url(../images/base/ksqc.png); }
div._info_buyCar_bg._info_service { background-image: url(../images/base/axzb.png); }
p._info_buyCar_text { margin-top: 0.2344rem; font-size: 14px; color: #1B1B1B; }
[data-dpr="2"] p._info_buyCar_text { font-size: 24px; }
[data-dpr="3"] p._info_buyCar_text { font-size: 39px; }
/*相似推荐*/
div.car_d_info_kind>ul.car_show_main>li{ padding: 0; }
/*按钮*/
section.car_detail_btn { position: fixed; z-index: 1; bottom: 0; left: 0; right: 0;
		box-shadow: 0 0 10px rgba(0,0,0,.3); }
section.car_detail_btn>div { float: left; width: 100%; line-height: 1.3rem;
	text-align: center; color: #fff; font-size: 16px; }
section.car_detail_btn>div>a { display: block; }
[data-dpr="2"] section.car_detail_btn>div { font-size: 32px; }
[data-dpr="3"] section.car_detail_btn>div { font-size: 54px; }
section.car_detail_btn>div._l_price_btn { background-color: #2ab40f; }
section.car_detail_btn>div._sell_car_btn{ background-color: #e2ae30; }
section.car_detail_btn>div._sell_car_btn>a{ color: #fff; }
/*配置参数*/
div.car_parameter { display: none; margin-bottom: 1.5rem; }
div.car_parameter_kind { padding: 0.34rem 0; margin-bottom: 0.3125rem;
	 background-color: #fff; }
div.car_parameter_kind .caption { margin: 0 0.4688rem 0.3125rem 0.4688rem;  }
table.car_parameter_list { width: 100%; font-size: 14px; line-height: 40px; }
[data-dpr="2"] table.car_parameter_list { font-size: 28px; line-height: 80px; }
[data-dpr="3"] table.car_parameter_list { font-size: 42px; line-height: 120px; }
tr.car_para_cotent {  border-top: 1px solid #f3f2f2; }
td.car_para_tit { width: 50%; padding-right: 0.18rem;
	text-align: right; color: #666; }
td.car_para_text { width: 50%; padding-left: 0.18rem;
	text-align: left; color: #222; }
.cover_head, div.car_parameter_head {  display: flex;  display: -webkit-flex;
  padding: 0 0.4688rem; border-bottom: 1px solid #dbdbdb;
  line-height: 1.2rem; background-color: #fff; align-items: center; }
.cover_head>a, div.car_parameter_head>a { display: block; width: 8%;
  font-size: .8rem; color: #d10310; text-align: center; }
.cover_head>p, div.car_parameter_head>p { width: 84%; text-align: center;
  color: #3c3c3c; font-size: 0.46rem; }
/*车辆图片详情*/
div.carImg_detail {  background-color: #000; }
header.carImg_detail_head { position: fixed; top: 0; left: 0; right: 0;
	z-index: 9; border-bottom: none; background-color: #000; }
header.carImg_detail_head>a { color: #fff; }
header.carImg_detail_head>p { color: #fff; }
div.carImg_detail_con { position: fixed; top: 0; bottom: 0; left: 0;
	width: 100%; background-color: #000; }
ul.carImg_detail_list { position: absolute; top: 50%;
	margin: auto; width: 100%; margin-top: -40%; }
li.carImg_detail_itme  { width: 100%; }
li.carImg_detail_itme img { width: 100%; }
div.carImg_counts { position: absolute; bottom: 30%; color: #fff; }
div.carImg_counts>span { color: #fff;  }

/*交互弹出框*/
div.ask_box { position: fixed; top: 0.1562rem; left: 0.5rem;
	right: 0.5rem; font-size: 14px; border-radius: 0.25rem; z-index: 9;
	display: none; text-align: center; background-color: #fff; }
/*div.sell_car_box { display: none; }*/
div.ask_box_success { display: none; padding: 0.9rem 0; }
div.ask_box_success>img { display: block; margin: 0 auto;
		width: 1.875rem; }
div.ask_box_success>p { font-size: 0.4375rem; line-height: 0.9375rem; }
div.ask_box_success>div { font-size: 0.375rem; color: #999; }
p.error_text { margin-top: 0.1562rem; padding-left: 0.7812rem;
		text-align: left; font-size: 12px;
		text-indent: .5rem; display: none; color: #d10310; font-style: italic;}
[data-dpr="2"] p.error_text { font-size: 24px; }
[data-dpr="3"] p.error_text { font-size: 36px; }
[data-dpr="2"] div.ask_box { font-size: 28px; }
[data-dpr="3"] div.ask_box { font-size: 48px; }
div.ask_box_head>h2 { padding: 0.32rem 0; font-size: 18px; }
[data-dpr="2"] div.ask_box_head>h2 { font-size: 36px; }
[data-dpr="3"] div.ask_box_head>h2 { font-size: 54px; }
div.input_box { position: relative; margin-bottom: 0.3rem; padding: 0 0.7812rem; }
div.input_box>span.wan { position: absolute; top: 0.3rem;
		right: 1rem; color: #aaa; }
div.input_box>input { width: 100%; height: 1rem; line-height: 1rem;
	border: 1px solid #e0e0e0;  text-indent: .5rem; }
div.input_code_box{ display: flex; display: -webkit-flex; margin-bottom: 0;  }
div.input_code_box>input{ width: 65%; }
div.input_code_box>button { height: 1rem; width: 35%; font-size: 14px; color: #fff;
 outline: none; background-color: #d10310; }
[data-dpr="2"] div.input_code_box>button { font-size: 28px; }
[data-dpr="3"] div.input_code_box>button { font-size: 42px; }
div.button_box { width: 100%; display: flex; display: -webkit-flex;
	border-top: 1px solid #e6e6e6; margin-top: .3rem; }
div.button_box>button { font-size: 16px; width: 50%; height: 1.1rem; }
[data-dpr="2"] div.button_box>button { font-size: 32px; }
[data-dpr="3"] div.button_box>button { font-size: 51px; }
div.button_box>button.ask_box_close { background-color: #fff;
	border-bottom-left-radius: 0.25rem; }
div.button_box>button.sell_car_commit,
div.button_box>button.l_price_commit { background-color: #d10310;
	border-bottom-right-radius: 0.25rem; color: #fff; }
